<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Temukan beragam pilihan restoran terbaik di kota Anda di situs kami. Nikmati berbagai kuliner lezat dari restoran terkenal, mulai dari masakan lokal hingga internasional. Temukan tempat makan favorit Anda dan buat reservasi sekarang.">
  <meta name="theme-color" content="#17181d"/>

  <link rel="manifest" href="app.webmanifest">
  <link rel="icon" href="./favicon.ico">
  <link rel="apple-touch-icon" href="./apple-touch-icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Preload gambar untuk media query max-width: 576px -->
  <link rel="preload" as="image" href="./images/hero-image_2-sm.webp" media="(max-width: 576px)">
  <link rel="preload" as="image" href="./images/hero-image_2-sm.jpg" media="(max-width: 576px)">

  <!-- Preload gambar untuk media query max-width: 768px -->
  <link rel="preload" as="image" href="./images/hero-image_2-md.webp" media="(min-width: 577px and max-width: 768px)">
  <link rel="preload" as="image" href="./images/hero-image_2-md.jpg" media="(min-width: 577px and max-width: 768px)">

  <!-- Preload gambar untuk media query max-width: 992px -->
  <link rel="preload" as="image" href="./images/hero-image_2-lg.webp" media="(min-width: 769px and max-width: 992px)">
  <link rel="preload" as="image" href="./images/hero-image_2-lg.jpg" media="(min-width: 769px and max-width: 992px)">

  <!-- Preload gambar untuk media query max-width: 1200px -->
  <link rel="preload" as="image" href="./images/hero-image_2-xl.webp" media="(min-width: 993px and max-width: 1200px)">
  <link rel="preload" as="image" href="./images/hero-image_2-xl.jpg" media="(min-width: 993px and max-width: 1200px)">

  
  <title>RestoKu</title>
</head>
<body>
  <a href="#main" class="skip-to-content" tabindex="0">Skip to content</a>
  <header class="navbar">
    <button type="button" class="navbar-toggle" aria-label="navbar nav toggle">
      <i class="bi bi-list"></i>
    </button>
    <a href="/" class="navbar-brand fw-medium">RestoKu</a>
    <nav class="navbar-nav">
      <a href="/" class="nav-link">Home</a>
      <a href="/#/favorite" class="nav-link">Favorite</a>
      <a href="https://github.com/juanprasetyo" class="nav-link" data-exclude="true" target="_blank">About Us</a>
    </nav>
  </header>
  <main id="main"></main>
  <footer tabindex="0">
    <p>Copyrights &copy; 2023 - RestoKu.</p>
    <p>All Right Reserved.</p>
  </footer>
</body>
</html>
