$beige: #fcd9b8;
$gold: #e09145;
$dark: #292c35;
$black: #17181d;
$white: #fefefe;
$gray: #6c757d;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$font-sizes: (
  1: 2.5rem,
  2: 2.25rem,
  3: 2rem,
  4: 1.75rem,
  5: 1.5rem,
  6: 1.25rem,
  7: 1rem,
  8: .75rem,
);

$font-weight: (
  "extra-light": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900,
);