.skip-to-content {
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 15;
  background-color: $beige;
  color: $black;
  min-height: 44px;
  min-width: 44px;
  padding: .75rem;
  transition: all .2s ease-in-out;

  &:focus {
    top: 0;
  }
}

.container {
  padding: 1.5rem 7.5%;
}

#hero {
  width: 100vw;
  height: calc(100vh - 65px);
  background-image: url('../public/images/heros/hero-image_2.jpg');
  background-size: cover;
  background-position: center;
  
  h1 {
    height: 100%;
    color: $white;
    backdrop-filter: brightness(50%);
    -webkit-backdrop-filter: brightness(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
  }
}